body{
    margin: 0px !important;
}
.font-red {
    color: red;
    font-size: 12px;
}
.error {
    color: red;
    font-size: 12px;
    padding-top: 6px;
}
/* You can add global styles to this file, and also import other style files */


// rnli

// Details page
.tabs-content-bx, .light-grey-clr {
    padding: 0px 20px 0px 20px;
    background: #FFF3DE;
    border-radius: 0 0 7px 7px;
    padding-top: 0px;
}
.details-column
{
    padding-top: 0px !important;
}
.tab-class
{
    border: none !important;
    box-shadow: none !important;
}
.details-footer
{
    margin-top: 0px !important;
    background: transparent;
    border-top: none;
    padding: 0px !important;
}
.details-footer button
{
    background: #832625 !important;
}

.details-label p
{
    font-size: 32px !important;
    color: #333333 !important;
}


.policy button
{
    background: #832625 !important;
}

.side-tab-bg .card
{
    border:none !important;
    box-shadow: none !important;
}