<body>
  <div class="page-control">
    <div class="padding-area">
      <div class="content-area">
        <div class="header-section">
          <div class="header-content">
            <h2 class="header-name">Arti</h2>
            <p class="desig">Software Developer</p>
            <img
              class="company-logo"
              src="https://jar-vahana.s3.ap-south-1.amazonaws.com/uSmart/decimallogo.png"
            />
          </div>
          <div class="hamburger">☰</div>
        </div>
        <div class="personal-info">
          <div class="f-name"><span>First Name</span> <span>Arti</span></div>
          <div class="lname"><span>Last Name</span><span>Choudhary</span></div>
          
        </div>
      </div>
    </div>
  </div>
</body>
